
.spinnerContainer {
	width: 100vw !important;
	height: 100% !important;
	overflow: hidden !important;
	position: fixed !important;
	background: #ffffffe8 !important;
	z-index: 9999999999 !important;
	display: none;
}

.spinnerImg {
	align-self: center !important;
	display: block !important;
	margin: auto;
	align-content: center !important;
	position: relative !important;
	bottom: auto !important;
	top: 40vh !important;
	z-index: 999 !important;
}
.backgoundColor{
	background-color: red;
}