.spinnerContainer {
	width: 100vw !important;
	height: 100% !important;
	overflow: hidden !important;
	position: fixed !important;
	background: #ffffffe8 !important;
	z-index: 9999999999 !important;
	display: none;
}

.spinnerImg {
	align-self: center !important;
	display: block !important;
	margin: auto;
	align-content: center !important;
	position: relative !important;
	bottom: auto !important;
	top: 40vh !important;
	z-index: 999 !important;
}

.Textbox-div .myInput {
	border: none !;
	border-radius: 20px;
}

.navstyle {
	text-decoration: none;
	color: white;
}

.f-20b {
	font-size: 20px;
	font-weight: 600;
}

.f-20 {
	font-size: 20px;
	font-weight: 400;
}

.f-16b {
	font-size: 16px;
	font-weight: 600;
}

.f-16 {
	font-size: 16px;
	font-weight: 400;
}

.box {
	background-color: gray;
	border-radius: 70px;
	box-shadow: 2px 2px 10px gray;
}

.trim {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.modelbackgound {
	background-color: rgb(146, 146, 146);
	height: 100%;
	width: 100%;
	position: fixed;
	transition: all 1.3s;
}

.dropdown-title {
		border: 2px solid gray;
		font-size: 18px;
		line-height: 22px;
		color: rgb(7, 9, 30);
		width: 100%;
		height: 60px;
		margin: auto;
		position: relative;
		top: 5px;
		padding-left: 0px;
		margin-Left: -8px;
}
.col-lg-5 .savebtn{
	border-radius:20px;
	height: 50px;
	color: white;
	font-size: 20px;

	font-weight: 400;
	text-shadow:1px 2px 3px  black;
	border :2px solid #c0392b; 
	background-color:#c0392b;
}
.col-lg-5 .savebtn:hover{
	background-color: white;
	color: #c0392b;
}

.RedBorders{
	border:4px solid rgb(218, 106, 106)!important;
	border-radius: 20px!important;
}
.Textbox-div PhoneInput{
	border: none !important;
}